
.drawler{
    display: none;
}

#drawler_button{
    display: none;
}

.drawler_container{
    transition: transform 1s ease-in-out;
    position: sticky;
    width: fit-content;
    height: fit-content;
}





@media (max-width: 60em){
    .drawler{
        display: block;
        top:0;
    }

    .restaurantsList{
        display: inline;
    }

    .drawler_container{
        position: fixed;
        height: fit-content;
        width: fit-content;
        background-color: white;
        z-index: 100;
        margin: 0;
        left: 0;
        box-shadow: 0 0 1em  rgb(112, 112, 112);
        border-top-right-radius:  15px;
        border-bottom-right-radius:  15px;
    }

    .menuRestaurante{
        width: auto;
    }

    label[for="drawler_button"] {
        width:fit-content;
        height: fit-content;
        position: absolute;
        right: -2.5em;
        top: 0;
    }
    label[for="drawler_button"] img{
        width: 40px;
        height: 70px;
    }
    
    label[for="drawler_button"] {
        margin: auto;
        top: 0;
        bottom: 0;
    }
    
    
    #drawler_button:checked ~ .drawler_container{
        transform: translateX(-100%);
    }

    .restaurant-page .menuRestaurante{
        position: fixed;
        width: auto;
        
    }

    .restaurant-page main{
        display: block;
        
    }


}