
  .addRestaurant input[type="text"],
  .addRestaurant input[type="password"]
  #profile_pageinput[type="text"],
  #profile_page input[type="password"] {
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.5em;
    margin: 0.5em 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.08);
    border-color: rgba(0, 0, 0, 0);
  }

  #profile_page  input,
  .addRestaurant input {
    font-family: 'Poppins', sans-serif;
  }


  #profile_page input[type="button"],
  #profile_page input[type="submit"]
  .addRestaurant input[type="button"],
  .addRestaurant input[type="submit"] {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 1em 0;
    padding: 0.5em 1.5em;
    border-radius: 1em;
  }

  
  .addRestaurant input[type="button"]:hover,
  .addRestaurant input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  #photo_field #photo {
    width: 10em;
    height: 10em;
    object-fit: cover;
    border: 0.1em solid rgba(0, 0, 0, 0.3);
    border-radius: 5%;
    margin: 1em 0;
  }
  
  #photo_field input[type="file"] {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    color: #666666;
    margin: 1em 0;
    width: fit-content;
  }
  
  #photo_field input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #photo_field input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #profile form input[value=Update]{
    display: block;
  }
