body {
    display: grid;
    grid-template-areas: "filters filters"
                         "category restaurants";
    grid-template-columns: 20% 80%;
}

#filters {
    grid-area: filters;
}

#category {
    grid-area: category;
}

#restaurants {
    grid-area: restaurants;
}

article {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "img name button"
                        "img address button"
                        "img price rating";
}

#category ul {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-grow: 2;
}

article > img {
    grid-area: img;
}

article > #name {
    grid-area: name;
}

article > #address {
    grid-area: address;
}

article > #price {
    grid-area: price;
}

article > button {
    grid-area: button;
}

article > #rating {
    grid-area: rating;
}