body{
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  

.addRestaurant{
    width: fit-content;
    max-width: 90%;

    margin: auto;
}

.addRestaurant{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
}


#restaurant_list {
    overflow-x: hidden;
}
