
body{ 
     /* serve para o footer possa ficar sempre no fundo da pagina*/
    min-height: 100vh;
    display:flex; 
    flex-direction:column; 
}

/* HEADER */

.menu nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

.menu .nav-links{
    flex:1;
    text-align:right;
}

.menu .nav-links ul li{
    padding: 8px 12px;
    position: relative;
    display: inline-block;
}


/* FOOTER */

.pageFooter{
    margin-top:auto;    /* fazer com que fique sempre no fundo da pagina*/
}

.pageFooter .information{
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 50px;
}


.pageFooter .information .box{
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    align-items:center;
}

.pageFooter .information .box h2{
    margin-bottom: 25px;
}

.pageFooter .information .box figure{
    display: flex;
    justify-content: center;
    align-items:center;
}

/* Restaurant */

.menuRestaurante li{
    padding: 1em;
}


#capaRestaurante ~ *{
    margin-left: 1em;
    margin-right: 1em;
}

.menuRestaurante{
    width: 100%;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    top: 0px;
    
    grid-column-start: 1;
}

.menuRestaurante ul{
    list-style: none;

}

#listaPratos{
    grid-column-start: 2;
}

#listaPratos ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.restaurant main{
    display: grid;
    grid-template: 100% / 20em 1fr;

    margin-top: 2em;

}

.comida {
    max-width: 100%;
    width: 15em;
    margin: 1em;
    padding: 5px;
    text-align: center;
}


.comida figcaption, .comida p{
    text-align: left;
}


/* LOGIN */

/* LOGIN  */

.input{
    padding: 0.2em;
    padding-left: 0.5em;
}

.input_div{
    position: relative;
    margin: auto;
}

.input_label{
    transition: ease-in-out 0.5s;
    position: absolute;
    padding-left: 0.5em;
    left: 0;
}

.login_box{
    align-items: center;
}

.input:focus ~ .input_label , .input:not(:placeholder-shown) ~ .input_label{
    transition: ease-in-out 0.5s;
    transform: translateY(-1rem) scale(0.8);
    padding: 0;
}

.login{
    width: 100%;
    min-height: 80vh;
}

.login_box{
    position: absolute;
    padding: 2em;
    left: 0; 
    right: 0; 
    bottom: 0;
    top: 0;
    margin: auto; 
    width: 20em;
    height: 20em;
    padding-top: 1em;
}


.login_box form{
    display: flex;
    flex-direction: column;
}

.login h2{
    margin-top: 2em;
    text-align: center;
}

.white_button{
    width: 10em;
    margin: auto;
    padding: 0.2em;
}

.black_button{
    width: 100%;
    text-align: center;
    padding: 0.2em;
}

