@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap");
*{
    margin:0;
    padding: 0;
}

.register{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.animationRegister{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.animationRegister img{
    width: 50vw;
}

.registerContainer{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15,20,24,0.97);
    box-shadow: 0 0 1.24em  rgb(93, 93, 93);
}

.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.animation{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.animation img{
    width: 50vw;
}

.loginContainer{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15,20,24,0.97);
    box-shadow: 0 0 1.24em  rgb(93, 93, 93);
}



input{
    padding: 0.2em;
    padding-left: 0.5em;
}

.input_div{
    position: relative;
    margin: auto;
}

.input_label{
    transition: ease-in-out 0.5s;
    position: absolute;
    padding-left: 0.5em;
    left: 0;
}



.input:focus ~ .input_label , .input:not(:placeholder-shown) ~ .input_label{
    transition: ease-in-out 0.5s;
    transform: translateY(-1rem) scale(0.8);
    padding: 0;
}

.login_box,
.register_box{
    padding: 2em;
    left: 0; 
    right: 0; 
    bottom: 0;
    top: 0;
    width: 30em;
    height: auto;
    padding-top: 1em;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 0 1em  rgb(70, 70, 70);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login_box form,
.register_box form{
    display: flex;
    flex-direction: column;
}

.login h2,
.register h2{
    margin-top: 2em;
    text-align: center;
}


.input{
    background-color: rgb(15,20,24);
    border: 3px solid white;
    color: white;
    width: 20em;
}

.input_label{
    color: white;
    cursor: text;    
}

.input:focus ~ .input_label , .input:not(:placeholder-shown) ~ .input_label{
    cursor: default; 
    background-color: rgb(15,20,24);
}

.login_box,
.register_box{
    font-family: "Poppins";
    color: white;
    background-color: rgb(15,20,24);
}

.register_box a{
    font-family: "Poppins";
    color: white;
    background-color: rgb(15,20,24);
    text-decoration:none; 
}


.login_box .logo img,
.register_box .logo img{
    width: 260px;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.login_box .logo,
.register_box .logo{
    width: 260px;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}


.white_button{
    background-color: white;
    color: rgb(15,20,24);
    border-radius: 5px;
    margin-bottom: 1em;
}

.white_button:hover{
    background-color: rgb(231, 231, 231);
}

.login .registerPageBtn{
    border:none;
    background-color: rgb(15,20,24);
    color: white;
    cursor: pointer;
    margin-bottom: 0.25em;
    font-family: "Poppins";
    font-size: medium;
}


@media (max-width: 60em){
    
    .animationRegister,
    .animation{
        display: none;
    }

    .register,
    .login{
        background-color: rgb(15,20,24);
    }

    .registerContainer,
    .loginContainer{
        box-shadow: none;
    }

}
