@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap");
*{
    margin: 0;
    padding: 0;
}

/* EDIT AND ADD DISH POPUP */
#editRestaurant {
    max-height: 100vh;
    height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden ;
    padding: 0;
}

.restaurantForm  #photo_field{
    display: grid;
    grid-column: auto 1fr;
    align-items: center;
    margin-bottom: 2em;
}

.restaurantForm  #photo_field > img{
    display: inline;
    margin: auto;
    grid-column: 1;
    padding-bottom: 0;
}

.restaurantForm  #photo_field > input[type="file"]{
    display: inline;
    grid-column: 2;
}

.restaurantForm .categories{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.restaurantForm .categories label{
    font-weight: lighter;
    font-size: medium;
}

.restaurantForm .categories h3{
    display: block;
    flex-basis: 100%;
}

.restaurantForm .categories label{
    display: block;
    position:relative;
    width: 8em;
    height: auto;
    padding-right: 0.25em;
}

#editRestaurant form{
    height: 100%;
}

.restaurantForm fieldset{
    height: 100%;
    border: none;
}
.restaurantForm fieldset *{
    padding-bottom: 0.5em;
}

.restaurantForm fieldset > div{
    padding: 1em;
}

.restaurantForm fieldset > div label{
    font-size: 1.17em;
    font-weight: bolder;
}

.restaurantForm .categories{
    margin-right: 1em;
}

.restaurantForm .price-range{
    display: block;
    float: none;
}


.restaurantForm #photo_field label{
    font-size: 1.17em;
    font-weight: bolder;
    display: block;
}

.restaurantForm  fieldset > input[type="submit"]{
    width: 100%;
    height: 4em;
    
    margin-top: 1em;
    bottom: 0px;
    display: block;
    background-color: black;
    border-radius: 0;
    margin: 0;
}

.restaurantForm div > input[type="text"]{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

@media (max-width: 60em){
    

.restaurantForm  #photo_field{
    display: flex;
    flex-direction: column;
}
}


.addRestaurant fieldset > div label{
    font-size: 1.17em;
    font-weight: bolder;
}

.popups #close {
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 2em;
    height: auto;
    display: block;
}

.popups #image-container #img_dish {
    width: 12em;
    height: auto;
    border-radius: 1em;
    margin: auto;
    margin-bottom: 1em;

}

.popups #image-container #dish_image_upload {
    height: fit-content;
}

.popups #dish_name {
    width: 90%;
    margin: 1em;
    margin-left: 2em;
}

.popups #dish_type {
    width: 90%;
    margin: 1em;
    margin-left: 2em;
}

.popups #price, .popups #type {
    margin-left: 1em;
}

.popups #name {
    margin-left: 1em;
    margin-top: 1em;
}



.popups #dish_price {
    width: 90%;
    margin: 1em;
    margin-left: 2em;
}

.popups #edit_dish, .popups #add_new_dish {
    width: 100%;
    height: 4em;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.popups #image-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

/* EDIT RESTAURANT BUTTON */

/* HIDE RADIO */
.r-price { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  .r-price + img {
    cursor: pointer;
    width: 2em;
    height: auto;
  }
  
  /* CHECKED STYLES */
  .r-price:checked + img {
    outline: 2px solid #f00;
  }



/* Restaurant */
.restaurant-page .menuRestaurante li{
    padding: 1em;
}


.restaurant-page > :not(#capaRestaurante){
    margin-left: 1em;
    margin-right: 1em;
}

.restaurant-page .menuRestaurante{
    width: 100%;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    top: 0px;
    grid-column-start: 1;
}

.restaurant-page .addDish #addDishImage {
    margin:2.5em;
}

.restaurant-page .addDish figcaption{
    font-weight: bold;
}

.restaurant-page .addType {
    max-width: 100%;
    width: auto;
    text-align: center;
    border: 0.1em solid;
    opacity: 0.6;
    border-radius: 1em;
    margin-top: 3em;
    transition: 0.5s ease-in-out;
}

.restaurant-page .addType figcaption{
    font-weight: bold;
    margin-bottom: 0.5em;
}

.restaurant-page .addType #addTypeImage {
    margin: 1em;
}

.restaurant-page .addType:hover{
    box-shadow: 0 0 2em  rgb(183, 181, 181);
}

.restaurant-page .addDish {
    max-width: 100%;
    width: 15em;
    height: 15.9em;
    margin: 1em;
    padding: 5px;
    text-align: center;
    opacity: 0.4;
    transition: 0.5s ease-in-out;
}

.restaurant-page .addDish:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
}

.restaurant-page .menuRestaurante ul{
    list-style: none;

}

.restaurant-page #listaPratos{
    grid-column-start: 2;
}

.restaurant-page #listaPratos ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.restaurant-page  main{
    display: grid;
    grid-template: 100% / 20em 1fr;

    margin-top: 2em;

}

.restaurant-page .comida .redCross:hover {
    width: 2.5em;
    height: auto;
}

.restaurant-page .comida .redCross {
    width: 1.5em;
    height: auto;
    position: absolute;
    top: 0.8em;
    left: 2.5em;
    opacity: 0.8;
    transition: width 0.5s, height 0.5s;
}

.restaurant-page .comida {
    max-width: 100%;
    width: 15em;
    margin: 1em;
    padding: 5px;
    text-align: center;
    position: relative;
    transition: 0.5s ease-in-out;
}

.comida .photoContainer{
    position: relative;
}

.comida #heart_favorite{
    width: 30px;
    height: 30px;
    position: absolute;
    top:1em;
    right: 2em;
}

.restaurant-page .comida figcaption, .comida p{
    text-align: left;
}

.restaurant-page{
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.restaurant-page img#capaRestaurante {
    width: 100%;
    object-fit: cover;
    height: 10em;
}

.restaurant-page #likeRestaurant {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2.5em;
    height: auto;
    transition: width 1s, height 1s;
}

.restaurant-page #likeRestaurant:hover {
    width: 4em;
    height: auto;
}

.restaurant-page h1{
    font-size: 2em;
}

.restaurant-page h3{
    font-size: 1.7em;
}

.restaurant-page #classificao::before{
    content: "\002605 ";
}

.restaurant-page #tempo{
    color:  rgb(120, 120, 120);
}


.restaurant-page .menuRestaurante a{
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}


.restaurant-page .comida:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
    transition: 0.5s ease-in-out;
}

.restaurant-page #listaPratos{
    width: 100%;

}

.restaurant-page .comida figcaption{
    font-weight: bold;
}

.restaurant-page .filters{
    padding: 0 10px;
    padding-bottom: 20px;
}


/* Restaurant Page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.restaurant-page{
    font-family: 'Poppins', sans-serif;
}

.restaurant-page img#capaRestaurante {
    width: 100%;
    object-fit: cover;
    height: 10em;
}

.restaurant-page h1{
    font-size: 2em;
}

.restaurant-page h3{
    font-size: 1.5em;
}

.restaurant-page #classificao::before{
    content: "\002605 ";
}

.restaurant-page header .editButton {
    float: right;
    width: 7em;
    height: auto;
    transition: width 0.5s, height 0.5s;
}

.restaurant-page header .editButton:hover {
    width: 8em;
    height: auto;
}

.restaurant-page .menuRestaurante a{
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}


.restaurant-page .comida:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
}

.restaurant-page #listaPratos{
    width: 100%;

}

.restaurant-page .comida figcaption{
    font-weight: bold;
}

.restaurant-page .filters{
    padding: 0 10px;
    padding-bottom: 20px;
}

.restaurant-page .comida .editDishButton:hover {
    width: 4em;
    height: auto;
}

.restaurant-page .comida .editDishButton {
    width: 3em;
    height: auto;
    position: absolute;
    top: 16.5em;
    right: 0;
    transition: width 0.3s, height 0.3s;
}

  /* CLASSIFICATION */
  .classification {
    float: left;
    height: 40px
}

.classification:not(:checked) > input {
    display: none;  
}

.classification:not(:checked) > label {
    float:right;
    width:1em;
    cursor:pointer;
    font-size:30px;
    color:#b6b6b6;
}
.classification:not(:checked) > label:before {
    content: '★';
}
.classification > input:checked ~ label {
    color: #ffc800ea;    
}

.classification > input:checked + label:hover,
.classification > input:checked ~ label:hover,
.classification > input:checked ~ label:hover ~ label,
.classification > label:hover ~ input:checked ~ label,
.classification > input:checked + label:hover ~ label,
.classification:not(:checked) > label:hover,
.classification:not(:checked) > label:hover ~ label {
    color: #c59c08e8;
}

.addReviewContainer {
    display: grid;
    grid-template: auto auto auto / auto 1fr auto;
    width: 100%;
    margin-bottom: 2em;
}

#add_review_photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 1.5em;
}

.addReviewContainer h4{
    grid-column: 2;
    grid-row: 1;
}

.addReviewContainer .classification{
    grid-column: 3;
    grid-row: 1;
}

.addReviewContainer .addReview{
    grid-column: 2 / span 2;
    grid-row: 2;
}

.addReviewContainer .white_button{
    grid-column: 3;
    grid-row: 3;
    margin-top: 0.5em;
    width: 60px;
    justify-self: end;
}


/*REVIEW*/
.restaurant-page section.reviews {
    margin-top: 6em;
    margin-left: 20em;
}

.restaurant-page h1{
    font-weight: bold;
}

.restaurant-page section.reviews .addReview{
    width: 100%;
    height: 5em;
    
}

input[id^="see_reply_"]{
    display: none;
}

input[id^="see_reply_"]:checked ~ .reply_list {
    display: block;
}

.reply_list{
    display: none;
}

label[for^="see_reply_"]{

    grid-column: 2;
}

.review, .reply{
    padding-top: 0.5em;
    margin-bottom: 1em;
    display: grid;
    grid-template: auto auto auto / auto 1fr 3em;
    width: 100%;
    box-shadow: 0 0 1em rgb(183 181 181);
    transition: 0.3s ease-in-out;
}

.addReply{
    background-color: white;
    box-shadow: 0 0 1em rgb(183 181 181);
    padding: 1em;
}

.addReply textarea{
    height: 10em;
}

@media (max-width:60em) {
    .restaurant-page section.reviews {
         margin-left: 0;
    }
}

.review:hover, .reply:hover{
    box-shadow: 0 0 1em  rgb(83, 82, 82);
}


.review .reviewPhoto, .reply .replyPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 1.5em;
    padding: 1em;
}


.review .basicInfo, .reply .basicInfo{
    grid-column: 2;
    grid-row: 1;
}

.review .reviewUsername, .reply .replyUsername{
    font-size: larger;
    font-weight: bolder;
}
.reply_list{
    list-style: none;
    margin-left: 1em;
    align-self: flex-end;

}


.review .date, .reply .date{
    font-size: smaller;
    font-weight: lighter;
    color:rgb(120, 120, 120);
}

.review .points{
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(232, 229, 229);
    border-radius: 50%;
    height: 32px;
    width: 30px;
}

.review .reviewText, .reply .replyText{
    grid-column: 2 / span 2;
    grid-row: 2;
    width: fit-content;
}

.review .points::before {
    color: rgb(214, 156, 92);
    content: "\002605 ";
    font-size: larger;
}



/* Popup Add New Dish*/

#addDish{
    height: fit-content;
}

#add_new_dish{
    display: block;
    margin-top: 1em;
}


#editDish{
    height: fit-content;

}

#editDish #edit_dish{
    margin-top: 1em;

}

#addDishType {
    height: fit-content;
}

#addDishType #edit_dish{
    margin-top: 1em;
}



/* popup */

.background_filter{
    display: none;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b6b6b6;
    opacity: 0.5;
    z-index: 2;
}

#add_order #heart_favorite {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 3em;
    height: auto;
    transition: width 1s, height 1s;
}

#add_order #heart_favorite:hover {
    width: 4em;
    height: auto;
}

#add_order{
    width: 40em;
    height: 40em;
}

.full_window_popup{
    display: none;
    z-index: 3;
    position: fixed;
    margin: auto;
    padding: 0;
    left:0;
    right:0;
    bottom:0;
    top:0;
    
    background-color: white;
    font-family: 'Poppins', sans-serif;

    max-width: 40em;
    width: fit-content;
    height: 40em;

}

#editDish, #addDishType, #addDish{
    height: fit-content;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* ADD order popup */

#add_order #dish_price{
    font-size: 25px;  
    color: rgba(0, 0, 0, 0.6);
}

#add_order #dish_price::after{
    content: ' €';
}


#add_order #dish_name{
    font-size: 30px;
    font-weight: bolder;  
}

#add_order #close{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2em;
    height: auto;
}

#add_order #img_order{
    width: 100%;
    object-fit: contain;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#add_order header{
    height: 70%;
}

#add_order main{
    display: block;
    margin: 1em;
}

#pedido_info{
    position: absolute;
    height: 3em;
    width: calc(100% - 2em);
    bottom: 1em;
    left: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
}

#pedido_info .select_quantity{
    display: flex;
    flex-direction: row;
    grid-column: 1;
} 

#pedido_info #minus_dish{
    width: 3em;
    height: auto;

}

#pedido_info #minus_dish:hover{
    width: 3em;
    height: auto;
}

#pedido_info #quantity{
    width: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;

    align-self: center;
    box-sizing: content-box;
    vertical-align: middle;

}

#pedido_info button#add_cart{
    grid-column: 2;

    width: 100%;
    height: 100%;
    background-color: black;
    font-size: medium;
    color: white;
}


#likeRestaurant{
    width: 10px;
    height: 10px;
}

#addDishType #img_dish,
#addDish #img_dish,
#addTypeImage,
#addDishImage{
    width: 100px;
    height: 100px;
}

#close{
    width: 50px;
    height: 50px;
}

.white_button{
    background-color: rgb(214, 156, 92);
    color: white;
    border:none;
    border-radius: 15px;
    width: 60px;
    height: 20px;
}

.white_button:hover{
    box-shadow: 0 0 1em rgb(183 181 181);
}

#delete_restaurant {
    display: flex;
    width: fit-content;
    grid-column: 2;
    justify-self: end;
}