@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap");

*{
    margin: 0;
    padding: 0;
}


[clickable]{  
    cursor: pointer ;
}   

/** Order by */

#asc{
    display: none;  
}

.orderBy {
    grid-column-start: 2;
    display:flex;
    flex-direction: row;
    height: 1.2em;
    margin: 0.5em;
}

.orderBy #sorter{
    margin-left: 0.6em;
    margin-right: 0.4em;
    border-color:#b6b6b6;
    font-weight: lighter;
    color:rgb(123, 123, 123)
}

  
  /* search box */
  .restaurantsList .searchBox{
    display: block;
    width:fit-content;
    height: fit-content;
    margin-top: 0.4em;
}

.restaurantsList .searchRestaurant{
    border-radius: 15px;
    color:  rgb(91, 90, 90);
    width: 165px;
    height: 30px;
    background-color: rgb(15,20,24, 0.1);
    border:none;
}

.searchBoxContainer{
    width: 120px;
    height: 15px;
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.search-bar{
    width: 120px;
    height: 15px;
    background-color: rgb(15,20,24, 0.08);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    width: 110px;
    background: transparent;
    flex:1;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 0.25em;
}

.search-bar button img{
    width: 25px;
    height: 25px;
    bottom: 5px;
    margin-bottom: 5px;
    margin-left: -8px;
}

.search-bar button{
    border:0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: block;
}




/* FILTERS */
.filters {
    grid-column-start: 1;
    grid-row: 1 / span 2;
    position: sticky;
    top:0;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    padding-bottom: 20px;
    margin-left: 0.6em;;
}

.filters p{
    font-weight: 800;
}

/* CLASSIFICATION SLIDE BAR */

.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 170px;
    height: 80px;
    background: white;
    border-radius: 20px;
}

.slider .range-slider{
    position: relative;
    width: 800px;
    height: 5px;
    background: #ddd;
    top: 1px;
    margin: 10px;  
}


.slider .range-slider input[type="range"]{
    position: absolute;
    top: -8px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
}


.slider .range-slider .progress{
    height: 100%;
    background: rgb(15,20,24);
    border-radius: 50px;
    position: absolute;
}

.slider .number{
    display: inline-block;
    width: 30px;
    height: 20px;
    background: white;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.slider .range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(15,20,24);
    border-radius: 50px;
}

/** PRICE RANGE **/
.price-range [name=classification]{
    display: none;  
}

.price-range [name=classification]{
    display: none;  
}

.price-range {
    float: left;
    display:block;
}


/* CHECKBOX CATEGORIES*/
.categories input[type=checkbox]{
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }
  
  .categories input[type=checkbox] {
    display: none;
  }
  
  .categories input[type=checkbox] +label:before {
    content: "";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-flex;
    flex-direction: row;
    width: 0.5em;
    height: 0.5em;
    padding-top: 0.15em;
    padding-left: 0.2em;
    padding-bottom: 0.15em;
    margin-right: 0.2em;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    border-radius: 35px;
  }
  
  .categories input[type=checkbox] + :active:before {
    transform: scale(2);
  }
  
  .categories input[type=checkbox]:checked + :before {
    background-color: rgb(214, 156, 92);
    border-color: rgb(214, 156, 92);
  }
  
  .categories input[type=checkbox]:disabled + :before {
    transform: scale(3);
  }
  



/** RESTAURANT LIST */

.restaurantsListPage{
    font-family: 'Poppins', sans-serif;
    margin: 0.5em;
    margin-right: 0;
    margin-bottom: 1em;
}

.restaurantsListPage h1{
    font-size: 2em;
    font-weight: bold;
}

.restaurantsList {
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr;
}

.restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-start: 2;
    align-content: flex-start;

}


.restaurantsList .restaurantContainer{
    position: relative;
    box-shadow: #b6b6b6;
    display: flex;
    flex-direction: row;
    margin:0.5em;
    padding: 1em;
    width: 35em;
    height: 160px;
    cursor: pointer;
    margin-right: 1.5em;
    margin-bottom: 1em;

}

#category ul {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-grow: 2;
}

.restaurantsList .restaurantInfo{
    white-space: nowrap;
    width: 90%;
}


.restaurantsList .restaurantContainer  img {
    margin-right: 1em;
    height: 100%;
    width: 10em;
}

.restaurantsList .restaurantInfo #name {
    align-self: auto;
    display: block;
    font-size: 1.2em;
    font-weight: 900;
    color: rgb(214, 156, 92);
    width: fit-content;
    overflow: hidden;
}

.restaurantsList .restaurantInfo  #address {
    padding-bottom: 3em;
    display: block;
    font-weight: lighter;
    font-size: small;
    width:fit-content;
    height: fit-content;
    color:  rgb(91, 90, 90);
}

.restaurantsList .restaurantInfo  #category {
    color:  rgb(91, 90, 90, 0.8);
    font-weight: 500;
    width: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
}

.restaurantsList .restaurantInfo  #price::before {
    content: "Price range: "
}

.restaurantsList .restaurantInfo  #price {
    align-self:baseline;
    display: block;
    color:  rgb(91, 90, 90, 0.8);
    font-weight: 500;
}


.restaurantsList .restaurantInfo  #rating::after {
    content: "\00a0•\00a0";
}

.restaurantsList .restaurantInfo  #rating::before {
    color: rgb(214, 156, 92);
    content: "\002605 ";
}

.restaurantsList .restaurantLikeIcon .restaurantInfo  .likeIcon {
    cursor: pointer;
    position: absolute;
    top: 23px;
    right:2em;
    width:20px;
    height:20px;
    transition: width 2s, height 2s;
}

.restaurantsList .restaurantLikeIcon .restaurantInfo  .likeIcon:hover {
    width: 4em;
    height: auto;
}

.restaurantsList .restaurantInfo  #rating {
    display:inline-flex;
    width:fit-content;
    color:  rgb(91, 90, 90, 0.8);
    font-weight: 500;
} 

.restaurantsList .restaurants .restaurantContainer {
    transition: 0.3s ease-in-out;
}

.restaurantsList .restaurants .restaurantContainer:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
}



@media (max-width: 60em){
    .restaurantsList .restaurantInfo #name {
        width: 9em;
        height: 1.25em;
        overflow: hidden;
    }

    .restaurantsList .restaurantInfo  #address {
        margin-bottom: 2em;
        width: 90%;
        height: 0.5px;
        overflow: hidden;
    }

    .restaurantsList .restaurantInfo  .likeIcon {
        top: 23px;
        right:0;
        width:10px;
        height:10px;
    }

  }
  