/* EDIT AND ADD DISH POPUP */

#editRestaurant {
    max-height: 100vh;
    height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden ;
    padding: 0;
}



.restaurantForm  #photo_field{
    display: grid;
    grid-column: auto 1fr;
    align-items: center;
    margin-bottom: 2em;
}

.restaurantForm  #photo_field > img{
    display: inline;
    margin: auto;
    grid-column: 1;
}

.restaurantForm  #photo_field > input[type="file"]{
    display: inline;
    grid-column: 2;
}


.restaurantForm .categories{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.restaurantForm .categories label{
    font-weight: lighter;
    font-size: medium;
}

.restaurantForm .categories h3{
    display: block;
    flex-basis: 100%;
}



.restaurantForm .categories label{
    display: block;
    position:relative;
    width: 8em;
    height: auto;
    padding-right: 0.25em;
}


#editRestaurant form{
    height: 100%;
}

.restaurantForm fieldset{
    height: 100%;
    border: none;
}
.restaurantForm fieldset *{
    padding-bottom: 0.5em;
}

.restaurantForm fieldset > div{
    padding: 1em;
}

.restaurantForm fieldset > div label{
    font-size: 1.17em;
    font-weight: bolder;
}

.restaurantForm .categories{
    margin-right: 1em;
}

.restaurantForm .price-range{
    display: block;
    float: none;
}


.restaurantForm #photo_field label{
    font-size: 1.17em;
    font-weight: bolder;
    display: block;
}

.restaurantForm  fieldset > input[type="submit"]{
    width: 100%;
    height: 4em;
    
    margin-top: 1em;
    bottom: 0px;
    display: block;
    background-color: black;
    border-radius: 0;
    margin: 0;
}

.restaurantForm div > input[type="text"]{
    margin-top: 0.5em;
    margin-bottom: 1em;
}


.addRestaurant fieldset > div label{
    font-size: 1.17em;
    font-weight: bolder;
}

.popups #close {
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 2em;
    height: auto;
    display: block;
}

.popups #image-container #img_dish {
    width: 12em;
    height: auto;
    grid-area: img;
    border-radius: 1em;
    margin: auto;
}

.popups #image-container #dish_image_upload {
    grid-area: file;
    height: fit-content;
}

.popups #dish_name {
    width: 90%;
    margin: 1em;
    margin-left: 2em;
}

.popups #dish_type {
    width: 90%;
    margin: 1em;
    margin-left: 2em;
}

.popups #price, .popups #type {
    margin-left: 1em;
}

.popups #name {
    margin-left: 1em;
    margin-top: 1em;
}



.popups #dish_price {
    width: 90%;
    margin: 1em;
    margin-left: 2em;
}

.popups #edit_dish, .popups #add_new_dish {
    width: 100%;
    height: 4em;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.popups #image-container {
    align-items: center;
    display: grid;
    grid-template-areas: "img file";
}

/* EDIT RESTAURANT BUTTON */

/* HIDE RADIO */
.r-price { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  .r-price + img {
    cursor: pointer;
    width: 2em;
    height: auto;
  }
  
  /* CHECKED STYLES */
  .r-price:checked + img {
    outline: 2px solid #f00;
  }

/* Restaurant */


.restaurant-page .menuRestaurante li{
    padding: 1em;
}


.restaurant-page > :not(#capaRestaurante){
    margin-left: 1em;
    margin-right: 1em;
}

.restaurant-page .menuRestaurante{
    width: 100%;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    top: 0px;
    grid-column-start: 1;
}

.restaurant-page .addDish #addDishImage {
    margin:2.5em;
}

.restaurant-page .addDish figcaption{
    font-weight: bold;
}

.restaurant-page .addType {
    max-width: 100%;
    width: auto;
    text-align: center;
    border: 0.1em solid;
    opacity: 0.6;
    border-radius: 1em;
    margin-top: 3em;
    transition: 0.5s ease-in-out;
}

.restaurant-page .addType figcaption{
    font-weight: bold;
    margin-bottom: 0.5em;
}

.restaurant-page .addType #addTypeImage {
    margin: 1em;
}

.restaurant-page .addType:hover{
    box-shadow: 0 0 2em  rgb(183, 181, 181);
}

.restaurant-page .addDish {
    max-width: 100%;
    width: 15em;
    height: 15.9em;
    margin: 1em;
    padding: 5px;
    text-align: center;
    opacity: 0.4;
    transition: 0.5s ease-in-out;
}

.restaurant-page .addDish:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
}

.restaurant-page .menuRestaurante ul{
    list-style: none;

}

.restaurant-page #listaPratos{
    grid-column-start: 2;
}

.restaurant-page #listaPratos ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.restaurant-page  main{
    display: grid;
    grid-template: 100% / 20em 1fr;

    margin-top: 2em;

}

.restaurant-page .comida .redCross:hover {
    width: 2.5em;
    height: auto;
}

.restaurant-page .comida .redCross {
    width: 1.5em;
    height: auto;
    position: absolute;
    top: 0.8em;
    left: 2.5em;
    opacity: 0.8;
    transition: width 0.5s, height 0.5s;
}

.restaurant-page .comida {
    max-width: 100%;
    width: 15em;
    margin: 1em;
    padding: 5px;
    text-align: center;
    position: relative;
    transition: 0.5s ease-in-out;
}

.comida .photoContainer{
    position: relative;
}

.comida #heart_favorite{
    width: 30px;
    height: 30px;
    position: absolute;
    top:1em;
    right: 2em;
}



.restaurant-page .comida figcaption, .comida p{
    text-align: left;
}

/* Restaurant Page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.restaurant-page{
    font-family: 'Poppins', sans-serif;
}

.restaurant-page img#capaRestaurante {
    width: 100%;
    object-fit: cover;
    height: 10em;
}

.restaurant-page h1{
    font-size: 2em;
}

.restaurant-page h3{
    font-size: 1.5em;
}

.restaurant-page #classificao::before{
    content: "\002605 ";
}

.restaurant-page header .editButton {
    float: right;
    width: 7em;
    height: auto;
    transition: width 0.5s, height 0.5s;
}

.restaurant-page header .editButton:hover {
    width: 8em;
    height: auto;
}

.restaurant-page .menuRestaurante a{
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}


.restaurant-page .comida:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
}

.restaurant-page #listaPratos{
    width: 100%;

}

.restaurant-page .comida figcaption{
    font-weight: bold;
}

.restaurant-page .filters{
    padding: 0 10px;
    padding-bottom: 20px;
}

.restaurant-page .comida .editDishButton:hover {
    width: 4em;
    height: auto;
}

.restaurant-page .comida .editDishButton {
    width: 3em;
    height: auto;
    position: absolute;
    top: 16.5em;
    right: 0;
    transition: width 0.3s, height 0.3s;
}

/* reviews */

.restaurant-page section.reviews {
    margin-top: 6em;
    margin-left: 20em;
}

.restaurant-page h1{
    font-weight: bold;
}

.restaurant-page section.reviews .addReview{
    width: 100%;
    height: 5em;
    
}


  /* CLASSIFICATION */
  .classification {
    float: left;
    height: 40px
}

.classification:not(:checked) > input {
    display: none;  
}

.classification:not(:checked) > label {
    float:right;
    width:1em;
    cursor:pointer;
    font-size:30px;
    color:#b6b6b6;
}
.classification:not(:checked) > label:before {
    content: '★';
}
.classification > input:checked ~ label {
    color: #ffc800ea;    
}

.classification > input:checked + label:hover,
.classification > input:checked ~ label:hover,
.classification > input:checked ~ label:hover ~ label,
.classification > label:hover ~ input:checked ~ label,
.classification > input:checked + label:hover ~ label,
.classification:not(:checked) > label:hover,
.classification:not(:checked) > label:hover ~ label {
    color: #c59c08e8;
}

.addReviewContainer {
    display: grid;
    grid-template: auto auto auto / auto 1fr auto;
    width: 100%;
    margin-bottom: 2em;
}

#add_review_photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 1.5em;
}

.addReviewContainer h4{
    grid-column: 2;
    grid-row: 1;
}

.addReviewContainer .classification{
    grid-column: 3;
    grid-row: 1;
}

.addReviewContainer .addReview{
    grid-column: 2 / span 2;
    grid-row: 2;
}

.addReviewContainer .white_button{
    grid-column: 3;
    grid-row: 3;
    margin-top: 0.5em;
    width: 60px;
    justify-self: end;
}


/*REVIEW*/
.review{
    padding-top: 0.5em;
    margin-bottom: 1em;
    display: grid;
    grid-template: auto auto auto / auto 1fr 3em;
    width: 100%;
    box-shadow: 0 0 1em rgb(183 181 181);
    transition: 0.3s ease-in-out;
}

@media (max-width:60em) {
    .restaurant-page section.reviews {
         margin-left: 0;
    }
}

.review:hover{
    box-shadow: 0 0 1em  rgb(83, 82, 82);
}


.review .reviewPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 1.5em;
    padding: 1em;
}


.review .basicInfo{
    grid-column: 2;
    grid-row: 1;
}

.review .reviewUsername{
    font-size: larger;
    font-weight: bolder;
}

.review .date{
    font-size: smaller;
    font-weight: lighter;
    color:rgb(120, 120, 120);
}

.review .points{
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(232, 229, 229);
    border-radius: 50%;
    height: 32px;
    width: 30px;
}

.review .reviewText{
    grid-column: 2 / span 2;
    grid-row: 2;
    width: fit-content;
}

.review .points::before {
    color: rgb(214, 156, 92);
    content: "\002605 ";
    font-size: larger;
}



/* Popup Add New Dish*/

#addDish{
    height: fit-content;
}

#add_new_dish{
    display: block;
    margin-top: 1em;
}


#editDish{
    height: fit-content;

}


#editDish #edit_dish{
    margin-top: 1em;

}

#addDishType {
    height: fit-content;
}


#addDishType #edit_dish{
    margin-top: 1em;
}