/* Restaurant */

.restaurant-page .menuRestaurante li{
    padding: 1em;
}


.restaurant-page > :not(#capaRestaurante){
    margin-left: 1em;
    margin-right: 1em;
}

.restaurant-page .menuRestaurante{
    width: 100%;
    height: fit-content;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    top: 0px;
    
    grid-column-start: 1;
}

.restaurant-page .menuRestaurante ul{
    list-style: none;

}

.restaurant-page #listaPratos{
    grid-column-start: 2;
}

.restaurant-page #listaPratos ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.restaurant-page  main{
    display: grid;
    grid-template: 100% / 20em 1fr;

    margin-top: 2em;

}

.restaurant-page .comida {
    max-width: 100%;
    width: 15em;
    margin: 1em;
    padding: 5px;
    text-align: center;
}


.restaurant-page .comida figcaption, .comida p{
    text-align: left;
}

/* Restaurant Page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.restaurant-page{
    font-family: 'Poppins', sans-serif;
}

.restaurant-page img#capaRestaurante {
    width: 100%;
    object-fit: cover;
    height: 10em;
}

.restaurant-page h1{
    font-size: 2em;
}

.restaurant-page h3{
    font-size: 1.5em;
}

.restaurant-page #classificao::before{
    content: "\002605 ";
}

.restaurant-page #tempo{
    color:  rgb(120, 120, 120);
}


.restaurant-page .menuRestaurante a{
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}


.restaurant-page .comida:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
    transition: 0.5s ease-in-out;
}

.restaurant-page #listaPratos{
    width: 100%;

}

.restaurant-page .comida figcaption{
    font-weight: bold;
}

.restaurant-page .filters{
    padding: 0 10px;
    padding-bottom: 20px;
}

/* reviews */

.restaurant-page section.reviews {
    margin-top: 6em;
    margin-left: 20em;
}

.restaurant-page h1{
    font-weight: bold;
}

.restaurant-page section.reviews .addReview{
    width: 55em;
    height: 5em;
    
}


  /* CLASSIFICATION */
  .classification {
    float: left;
    height: 40px
}

.classification:not(:checked) > input {
    display: none;  
}

.classification:not(:checked) > label {
    float:right;
    width:1em;
    cursor:pointer;
    font-size:30px;
    color:#b6b6b6;
}
.classification:not(:checked) > label:before {
    content: '★';
}
.classification > input:checked ~ label {
    color: #ffc800ea;    
}

.classification > input:checked + label:hover,
.classification > input:checked ~ label:hover,
.classification > input:checked ~ label:hover ~ label,
.classification > label:hover ~ input:checked ~ label,
.classification > input:checked + label:hover ~ label,
.classification:not(:checked) > label:hover,
.classification:not(:checked) > label:hover ~ label {
    color: #c59c08e8;
}

.addReviewContainer{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    width: 30em;
}

#add_review_photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 1.5em;
}

.addReviewContainer h4{
    grid-column: 2;
    grid-row: 1;
}

.addReviewContainer .classification{
    grid-column: 3;
    grid-row: 1;
}

.addReviewContainer .addReview{
    grid-column: 2 / span 2;
    grid-row: 2;
}

.addReviewContainer .white_button{
    grid-column: 3;
    grid-row: 3;
    margin-top: 0.5em;
    width: 60px;
    justify-self: end;
}


/*REVIEW*/
.review{
    padding-top: 0.5em;
    margin-bottom: 1em;
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    width: 30em;
}

.review .reviewPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-right: 1.5em;
}


.addReviewContainer .reviewUsername{
    grid-column: 2;
    grid-row: 1;
}

.addReviewContainer .reviewUsername p{
    font-size: larger;
}


.addReviewContainer .points{
    grid-column: 3;
    grid-row: 1;
}

.addReviewContainer .review{
    grid-column: 2 / span 2;
    grid-row: 2;
}

