@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap");

*{
    margin: 0;
    padding: 0;
}

/* HEADER */
header.menu{
    width:100%;
    background-color: rgb(15,20,24);
    background-size: 100vw 100vh;
    box-shadow: rgba(121, 120, 120, 0.35) 0px 0px 5px;
}

.menu .nav-links ul li{
    list-style: none;
}

.menu .nav-links ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


.menu .nav-links ul li a:hover{
    color: rgb(214, 156, 92);
}

#asc,
#cart,
#lupa{
    display: none;  
}



.price-range [name=classification]{
    display: none;  
}

.price-range [name=classification]{
    display: none;  
}

[clickable]{  
    cursor: pointer ;
}   

.search{
    width: 0em;
    visibility: collapse;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#lupa:checked + .search{
    visibility: visible;
    width: 10em;
}

/* CART */

#cart_box{
    display: none;
    position: fixed;
    width:  25em;
    min-height: 20em;
    max-height: 25em;
    right: 2em;
    top: 5.8em;
    z-index: 5;
    background-color: white;
    box-shadow: rgb(0, 0, 0, 0.35) 0px 0px 5px;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 1;
    transition: all 0.5s ease-in-out;

    grid-template-rows: auto 1fr 4.5em;
}

[display_block]#cart_box{
    display: grid;
}

#cart_box .cross{
    width: 2m;
    height: 2em;
    padding: 1em;
}


#cart_box main{
    display: flex;
    grid-row: 2 span 2;
}


/* When cart is empty*/

#empty_cart{
    display: block;
    margin: auto;
    color: #b6b6b6;
    text-align: center;
}


#empty_cart_image{
    width: 3em;
    height: auto;
    margin: auto;
}

/* When cart have orders*/

#cart_box header{
    grid-row: 1;
}

#cart_box #check-in{
    text-decoration: none;

    display: none;
    grid-row: 3;
    font-size: 1em;
    font-weight: bold;

    font-family: 'Poppins', sans-serif;
    
    color: white;
    background-color: rgb(15,20,24);

    margin-bottom: 1em;
    margin-top: 1em;
    
    margin-left: auto;
    margin-right: auto;
    
    width: 10em;
    border-radius: 1em;

    align-items:center;/*Vertical align*/
    justify-content:center;/*horizontal align*/
}

#cart_box #check-in:hover{
    background-color: rgb(69, 69, 69);
}

#list_cart{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    list-style: none;
}

#list_cart li{
    width: 100%;
}

#list_cart h3 {
    display: inline-block;
    margin-bottom: 0.5em;
}

#list_cart .orders_list li{
    width: 100%;
    display: grid;
    grid-template-columns: 0.8em 3em 1fr 3em ;
    column-gap: 0.5em;
    margin-bottom: 0.4em;
    margin-left: 0.5em;
}

#list_cart .orders_list{
    margin-bottom: 1em;
}

#list_cart .red_cross{
    grid-column: 1;
    width: 1em;
    height: auto;
    vertical-align: middle;
    margin: auto;
}

#list_cart .orders_list li select{
    grid-column: 2;
    width: 3em;
}

#list_cart .orders_list .dish_name{
    grid-column: 3;
}


#list_cart .orders_list .cost{
    grid-column: 4;
}

#list_cart input[type="checkbox"]{
    display: none;
}

.cart_arrow{
    width: 1em;
    margin-left: 5px;
    height: auto;
}


#list_cart input[type="checkbox"]:checked ~ .orders_list{
    display: none;
}

/* popup */

.background_filter{
    display: none;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b6b6b6;
    opacity: 0.5;
    z-index: 2;
}

#add_order #heart_favorite {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 3em;
    height: auto;
    transition: width 1s, height 1s;
}

#add_order #heart_favorite:hover {
    width: 4em;
    height: auto;
}

#add_order{
    width: 40em;
    height: 40em;
}

.full_window_popup{
    display: none;
    z-index: 3;
    position: fixed;
    margin: auto;
    padding: 0;
    left:0;
    right:0;
    bottom:0;
    top:0;
    
    background-color: white;
    font-family: 'Poppins', sans-serif;

    width: 40em;
    height: 40em;

}


/* ADD order popup */

#add_order #dish_price{
    font-size: 25px;  
    color: rgba(0, 0, 0, 0.6);
}

#add_order #dish_price::after{
    content: ' €';
}


#add_order #dish_name{
    font-size: 30px;
    font-weight: bolder;  
}

#add_order #close{
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2em;
    height: auto;
}

#add_order #img_order{
    width: 100%;
    object-fit: contain;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#add_order main{
    margin: 1em;
}

#pedido_info{
    position: absolute;
    height: 3em;
    width: calc(100% - 2em);
    bottom: 1em;
    left: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
}

#pedido_info .select_quantity{
    display: flex;
    flex-direction: row;
    grid-column: 1;
} 

#pedido_info #minus_dish{
    width: 3em;
    height: auto;

}

#pedido_info #minus_dish:hover{
    width: 3em;
    height: auto;
}

#pedido_info #quantity{
    width: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;

    align-self: center;
    box-sizing: content-box;
    vertical-align: middle;

}

#pedido_info button#add_cart{
    grid-column: 2;

    width: 100%;
    height: 100%;
    background-color: black;
    font-size: medium;
    color: white;

}

/* MAIN PAGE  */

.mainPage img{
    width: 100%;
    position: relative;
}

.mainPage {
    background-color: rgb(24, 31, 36);
}

/* FOOTER */
.pageFooter{
    background-color: rgb(24, 31, 36);
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.pageFooter .information{
    width: 100%;
    max-width: 1200px;
    padding: 45px 0px;
}


.pageFooter .information .box figure{
    width: 100%;
    height: 100%;
}

.pageFooter .information .box img{
    width: 200px;
    align-items:center;
}

.pageFooter .information .box h2{
    font-size: 20px;
    color: white;
    text-align: center;
}

.pageFooter .information .box p{
    margin-bottom: 1px;
    color: #b6b6b6;
    text-align: center;
}


.pageFooter .copyright{
    background-color: rgb(15,20,24);
    padding: 15px 10px;
    text-align: center;
    color: white;

}

.pageFooter .small{
    font-size: 50px;
}

strong{
    font-weight: bold;
}

.restaurant-page{
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.restaurant-page img#capaRestaurante {
    width: 100%;
    object-fit: cover;
    height: 10em;
}

.restaurant-page #likeRestaurant {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2.5em;
    height: auto;
    transition: width 1s, height 1s;
}

.restaurant-page #likeRestaurant:hover {
    width: 4em;
    height: auto;
}

.restaurant-page h1{
    font-size: 2em;
}

.restaurant-page h3{
    font-size: 1.7em;
}

.restaurant-page #classificao::before{
    content: "\002605 ";
}

.restaurant-page #tempo{
    color:  rgb(120, 120, 120);
}


.restaurant-page .menuRestaurante a{
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}


.restaurant-page .comida:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
    transition: 0.5s ease-in-out;
}

.restaurant-page #listaPratos{
    width: 100%;

}

.restaurant-page .comida figcaption{
    font-weight: bold;
}

.restaurant-page .filters{
    padding: 0 10px;
    padding-bottom: 20px;
}


/* RESTAURANTS LIST PRICE BAR*/

.slider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 170px;
    height: 80px;
    background: white;
    border-radius: 20px;
}

.slider .number{
    display: inline-block;
    width: 30px;
    height: 20px;
    background: white;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}


.slider .range-slider{
    position: relative;
    width: 800px;
    height: 5px;
    background: #ddd;
    outline: none;
    top: 1px;
    margin: 10px;  
}

.slider .range-slider .progress{
    left: 25%;
    right: 25%;
    height: 100%;
    background: rgb(15,20,24);
    border-radius: 50px;
    position: absolute;
}


.slider .range-slider input[type="range"]{
    position: absolute;
    top: -8px;
    width: 101%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}


.slider .range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: rgb(15,20,24);
    border-radius: 50px;
}


  /* PRICE RANGE */
.price-range {
    float: left;
    display:block;
}

/* restaurant list */

.restaurantsListPage{
    font-family: 'Poppins', sans-serif;
    margin: 0.5em;
    margin-right: 0;
    margin-bottom: 1em;
}

.restaurantsListPage h1{
    font-size: 2em;
    font-weight: bold;
}

.restaurantsList {
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-rows: auto 1fr;
}

.filters {
    grid-column-start: 1;
    grid-row: 1 / span 2;
    position: sticky;
    top:0;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    padding-bottom: 20px;
    margin-left: 0.6em;;
}

.filters p{
    font-weight: 800;
}

.restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-start: 2;
    align-content: flex-start;

}

.orderBy {
    grid-column-start: 2;
    display:flex;
    flex-direction: row;
    height: 1.2em;
    margin: 0.5em;
}

.orderBy #sorter{
    margin-left: 0.6em;
    margin-right: 0.4em;
    border-color:#b6b6b6;
    font-weight: lighter;
    color:rgb(123, 123, 123)
}



.restaurantsList .restaurantContainer{
    position: relative;
    box-shadow: #b6b6b6;
    display: flex;
    flex-direction: row;
    margin:0.5em;
    padding: 1em;
    width: 35em;
    height: 160px;
    cursor: pointer;
    margin-right: 1.5em;
    margin-bottom: 1em;

}

#category ul {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-grow: 2;
}


.restaurantsList .restaurantContainer  img {
    margin-right: 1em;
    height: 100%;
    width: 10em;
}

.restaurantsList .restaurantInfo #name {
    align-self: auto;
    display: block;
    font-size: 1.2em;
    font-weight: 900;
    color: rgb(214, 156, 92);
    width: fit-content;
    overflow: hidden;
}

.restaurantsList .restaurantInfo  #address {
    padding-bottom: 3em;
    display: block;
    font-weight: lighter;
    font-size: small;
    width:fit-content;
    height: fit-content;
    color:  rgb(91, 90, 90);
}



.restaurantsList .restaurantInfo  #price::before {
    content: "Price range: "
}

.restaurantsList .restaurantInfo  #price {
    align-self:baseline;
    display: block;
    color:  rgb(91, 90, 90, 0.8);
    font-weight: 700;
}


.restaurantsList .restaurantInfo  #rating::after {
    content: "\00a0•\00a0";
}

.restaurantsList .restaurantInfo  #rating::before {
    color: rgb(214, 156, 92);
    content: "\002605 ";
}

.restaurantsList .restaurantInfo  .likeIcon {
    cursor: pointer;
    position: absolute;
    top: 23px;
    right:2em;
    width:20px;
    height:20px;
    transition: width 2s, height 2s;
}

.restaurantsList .restaurantInfo  .likeIcon:hover {
    width: 4em;
    height: auto;
}

.restaurantsList .restaurantInfo  #rating {
    display:inline-flex;
    width:fit-content;
    color:  rgb(91, 90, 90, 0.8);
    font-weight: 700;
} 

.restaurantsList .restaurants .restaurantContainer {
    transition: 0.3s ease-in-out;
}

.restaurantsList .restaurants .restaurantContainer:hover{
    box-shadow: 0 0 1em  rgb(183, 181, 181);
}

/* checkbox pretty */
.categories input[type=checkbox]{
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }
  
  .categories input[type=checkbox] {
    display: none;
  }
  
  .categories input[type=checkbox] +label:before {
    content: "";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-flex;
    flex-direction: row;
    width: 0.5em;
    height: 0.5em;
    padding-top: 0.15em;
    padding-left: 0.2em;
    padding-bottom: 0.15em;
    margin-right: 0.2em;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    border-radius: 35px;
  }
  
  .categories input[type=checkbox] + :active:before {
    transform: scale(2);
  }
  
  .categories input[type=checkbox]:checked + :before {
    background-color: rgb(214, 156, 92);
    border-color: rgb(214, 156, 92);
  }
  
  .categories input[type=checkbox]:disabled + :before {
    transform: scale(3);
  }
  

  @media (max-width: 60em){
    .restaurantsList .restaurantInfo #name {
        width: 9em;
        height: 1.25em;
        overflow: hidden;
    }

    .restaurantsList .restaurantInfo  #address {
        margin-bottom: 2em;
        width: 8em;
        height: 0.5px;
        overflow: hidden;
    }

    .restaurantsList .restaurantInfo  .likeIcon {
        top: 23px;
        right:0;
        width:10px;
        height:10px;
    }
    
    

  }
  
  
  /* search box */


  .restaurantsList .searchBox{
    display: block;
    width:fit-content;
    height: fit-content;
    margin-top: 0.4em;
}

.restaurantsList .searchRestaurant{
    border-radius: 15px;
    color:  rgb(91, 90, 90);
    width: 165px;
    height: 30px;
    background-color: rgb(15,20,24, 0.1);
    border:none;
}

.searchBoxContainer{
    width: 120px;
    height: 15px;
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.search-bar{
    width: 120px;
    height: 15px;
    background-color: rgb(15,20,24, 0.08);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    width: 110px;
    background: transparent;
    flex:1;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 0.25em;
}

.search-bar button img{
    width: 25px;
    height: 25px;
    bottom: 5px;
    margin-bottom: 5px;
    margin-left: -8px;
}

.search-bar button{
    border:0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: block;
}

